/* ------------- GENERAL STYLES */

body {
    padding: 0px;
    margin: 0px;
    background-color: black;
    font-size: 1rem;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

:root {
    --cardLeftMargin: 10px;
    --cardWidth: calc(50vw - 2* var(--cardLeftMargin));
    --mainColor1: #ff9900; /*zmieniając wartość należy również zaktualizować wartość poniżej w RGB*/
    --mainColor1RGB: 255,153,0;
    
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

p,
h1,
h2 {
    margin: 0px;
}

.pointer {
    cursor: pointer;
}

.container {
    width: 100vw;
    max-width: 100%;
    min-height: 30vh;
    position: relative;
    background-color: white;
    margin-top: 100px;
    border-bottom: 3px solid var(--mainColor1);
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}

.flex-col {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

}

.flex-space-around {
    justify-content: space-around;
}

h1 {
    width: 100%;
    padding: 10px 20px;
    font-size: 2rem;
    text-align: left;
    margin-bottom: 1rem;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

h1::after {
    content: "";
    width: 220px;
    display: block;
    border-bottom: 1px solid var(--mainColor1);
    transition: width 1s ease;
}

h1:hover::after {
    width: 100%;
}

h2 {
    width: 100%;
    margin-top: 3rem;
    padding: 10px 20px;
    font-size: 2.5rem;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

h3 {
    width: 100%;
    margin-top: 5rem;
    padding: 10px 20px;
    font-size: 1.5rem;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid var(--mainColor1);
}

hr {
    margin: 2rem 0px;
}

/* --------------- NAV STYLES */
.nav__ul {
    color: white;
    padding: 0px;
    margin: 10px 0px;
    box-sizing: border-box;
    line-height: 2rem;
    font-size: 1.2rem;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
}

.nav__ul::after,
.nav__ul::before {
    content: '';
    height: calc(100% + 1px);
    position: absolute;
    background-color: black;
    z-index: -1;
    top: 0;
}

.nav__ul::before {
    left: -10px;
    right: -10px;
}

.nav__ul::after {
    width: calc(100vw - 18px);
    background-color: var(--mainColor1);
    z-index: -2;
    left: 50%;
    transform: translateX(-50%);
}

.nav__ul li {
    list-style-type: none;
    display: inline-block;
    position: relative;
}

.nav__item {
    color: white;
    text-decoration: none;
    padding: 10px 7px;
    margin: 0px 5px;
}

ul.nav__ul li::after {
    content: '';
    border-bottom: 1px solid var(--mainColor1);
    width: 0%;
    display: block;
    transition: width 0.5s ease;
}

ul.nav__ul li::before {
    content: '';
    border-top: 1px solid var(--mainColor1);
    width: 0%;
    display: block;
    transition: width 0.5s ease;
    position: absolute;
    right: 0px;
}

ul.nav__ul li:hover::after,
ul.nav__ul li:hover::before {
    width: 100%;
}

/* ------------- LOGO */
.logo__wrapper {
    width: 30vw;
    padding: 10px;
    margin: 45px 0px 0px 0px;
    display: inline-block;
    background-color: white;
    position: relative;
    transition: transform 0.5s ease;
}

.logo__wrapper:hover {
    transform: rotateZ(-3deg) scale(1.22);
    z-index: 1;
}

.logo__wrapper img {
    height: calc(50% - 20px);
    width: 40%;
    top: 0;
    display: inline-block;
    margin-bottom: 10px;
    margin-top: -10px;
}

.logo__wrapper p {
    font-size: 2rem;
    padding: 10px;
    width: 100%;
    color: white;
    background-color: black;
}

.logo__wrapper p::before {
    content: '';
    width: 15%;
    border-top: 2.5px solid black;
    position: absolute;
    top: 2px;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.5s ease;
}

.logo__wrapper::after {
    content: '';
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: var(--mainColor1);
    z-index: -1;
    transition: transform 0.5s ease;
}

.logo__wrapper:hover::after {
    transform: rotateZ(6deg);
}

.logo__wrapper:hover p::before {
    width: 90%;
    top: 1.5px;
    border-top-color: black;
}

.logo__wrapper span {
    color: var(--mainColor1);
    font-weight: 100;
    transition: text-shadow 1s ease;
}

.logo__wrapper span:hover {
    text-shadow: 0px 0px 5px var(--mainColor1);
}

/* ------------- ABOUT ME */
.aboutMe__text {
    margin-top: -1rem;
    margin-bottom: 2rem;
    width: 60vw;
    font-size: 130%;

}

.aboutMe__text::first-line {
    font-weight: 700;
    font-size: 175%;
    line-height: 200%;
}

.aboutMe__text span {
    display: block;
    position: relative;
}

.aboutMe__text span::after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0px;
    border-bottom: 1px solid black;
    animation-name: aboutMeWidth;
    animation-delay: 2s;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

.aboutMe__img {
    height: 15vw;
    border: 2px solid var(--mainColor1);
    background-color: var(--mainColor1);
    border-radius: 50%;
    overflow: hidden;
    transform: translateX(-5vw);
    margin-bottom: -20px;
}

.aboutMe__img img {
    height: 100%;
}

/* ------------- INTRO */
.cards div:nth-last-child(2) {
    margin-bottom: 75px;
}

.intro__card {
    width: var(--cardWidth);
    height: 50vh;
    margin-bottom: calc(2* var(--cardLeftMargin));
    background-color: #000;
    border: 1px solid black;
    position: relative;
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.3);

}

.intro__card:nth-child(even) {
    border-left: none;
}

.intro__card:nth-child(odd) {
    border-right: none;
}

.intro__card__img {
    height: 100%;
    position: relative;
    overflow: hidden;
}

.tags {
    position: absolute;
    left: 0px;
    top: 0px;
    margin: 5px;
    max-width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    z-index: 2;
}

.tags p,
.date p {
    color: white;
    display: block;
    font-size: 75%;
    padding: 3px;
    margin: 5px 3px;
    background-color: black;
}

.tags p {
    cursor: pointer;
}

.date {
    position: absolute;
    right: 0px;
    top: 0px;
    margin: 5px;
    z-index: 2;
}

.intro__card__img img {
    position: absolute;
    left: 50%;
    top: -5%;
    transform: translateX(-50%);
    transition: 1s ease;
}

.intro__card__img img:hover {
    transform: scale(1.2) translateX(-50%);
    top: -20%;
}

.intro__card__text {
    bottom: 0px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    /*border-top: 1px solid black;*/
    padding: 10px;
}

.intro__card__text > p {
    max-height: 100%;
    width: 100%;
    text-align: justify;
    color: black;
}

.intro__card__text > p::before {
    content: "";
    display: inline-block;
    height: 1rem;
    width: 2rem;
}

a.link {
    color: black;
    font-weight: 600;
    text-decoration: none;
    border-bottom: 1px solid black;
}

a.link:hover {
    color: white;
    background-color: black;
    border-bottom: none;
}

/* ------------- STREETWORKOUT */
.container:nth-child(5) {
    flex-direction: column;
    align-items: center;
}

.text__box {
    width: 80%;
    background-color: rgba(0,0,0,0.5);
    font-size: 110%;
    font-style: italic;
    color: white;
    padding: 2rem;
    border-right: 3px solid black;
    text-shadow: 1px 1px 1px #000;
}
    
.post {
    width: 80vw;
    max-width: 100%;
    margin: 125px 0px;
    padding: 2rem 0px 100px 0px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: rgba(var(--mainColor1RGB),0.1);
}

.post__img {
    width: 50%;
    height: 25vh;
    overflow: hidden;
    border: 1px solid black;
    position: relative;
    background-color: black;
    margin-bottom: 50px;
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.3);
    transition: transform 1s ease;
}

.post__img:hover {
    transform: scale(1.05);
    transform-origin: center;
}

.post__img img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    z-index: 0;
}

.details {
    position: absolute;
    /* bez tego obrazek zakrywał całą warstwę! */
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    padding: 0px;
    z-index: 2;
}

.details p:first-child {
    color: var(--mainColor1);
    font-size: 150%;
    margin: 0px 0px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 5px 10px;
    border-bottom: 2px solid var(--mainColor1);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.details p:nth-child(2) {
    font-style: italic;
    font-weight: 600;
    color: black;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 3px 8px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.post h2 + p {
    color: lightgray;
    margin-bottom: 1rem;
    font-style: italic;
    margin-bottom: 50px;
}

.description {
    width: 80%;
}

.blockquote {
    width: 100%;
    height: 100%;
    padding: 25px 50px;
    background-color: rgba(var(--mainColor1RGB), 0.5);
    border-left: 3px solid black;
    position: relative;
    quotes: "\201C""\201D""\2018""\2019";
}

.blockquote:before {
    color: black;
    content: open-quote;
    font-size: 6em;
    float: left;
    position: absolute;
    left: 10px;
}

.blockquote:after {
    color: black;
    display: block;
    content: close-quote;
    font-size: 6em;
    float: right;
    position: absolute;
    right: 10px;
    vertical-align: bottom;
}

.blockquote:before,
.blockquote:after {
    transform: translateY(-2rem);
}

.blockquote p {
    font-size: 110%;
    font-weight: 600;
    font-style: italic;
}

.description ul, 
.description ol {
    padding: 5px;
}

.description ul li, 
.description ol li {
    list-style: none;
    margin: 5px 0px;
    padding: 5px 0px;
    background-color: rgba(0,0,0,0.1);
}

.description ul li:hover,
.description ol li:hover{
    font-weight: 600;
    background-color: rgba(0,0,0,0.25);
    transform: scale(1.05);
}

.description ol li {
    list-style: upper-roman;
}

ul, ol:not(+ p) {
    margin-bottom: 100px;    
}


/* ------------- FOOTER */
footer.container {
    background-color: var(--mainColor1);
    margin-top: 100px;
}

#map,
#footer__image {
    height: 30vh;
    margin: 10px 0px;
    border: 5px solid black;
    background-color: black;
}

#map {
    width: calc(33% - 0px);
    border-left: none;
}

#footer__image {
    width: calc(67% - 10px);
    border-right: none;
    overflow: hidden;
    position: relative;
}

#footer__image > img {
    width: 100%;
    position: absolute;
    top: -35%;
    left: 0px;
    transition: 1s ease;
}

#footer__image > img:hover {
    transform: scale(1.2) translate(-5%, -5%);
    top: -35%;

}

#contact {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    display: table;

}

#contact div {
    display: table-cell;
    text-align: center;
    align-items: center;
    vertical-align: middle;
}

#contact p,
#contact address {
    font-size: 1rem;
    color: white;
    text-align: left;
    font-style: normal;
    line-height: 1.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

#contact address {
    margin: 5px 0px;
}

#contact p:first-child {
    text-align: right;
    font-size: 1.5rem;
    line-height: 2rem;
    border-bottom: 1px solid var(--mainColor1);
    margin-bottom: 10px;
}

#contact a {
    text-decoration: none;
    color: var(--mainColor1);
}

.goToTop {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 5px;
    animation: topAnim 0.5s infinite alternate;
}

.goToTop img {
    height: 100%;
}

#rights {
    width: 100vw;
    max-width: 100%;
    padding: 10px 0px;
    background-color: black;
    color: white;
    font-size: 0.75rem;
}

#rights span {
    float: right;
    transform: translateX(-10px);
    font-family: 'Indie Flower', cursive;
}

/* ------------- MEDIA QUERIES */
@media only screen and (max-width: 1023px) {
    html, body {
        margin: 0px;
        overflow-x: hidden;
    }
    
    .container {
        flex-direction: column;
        align-items: center;
    }
    
    .logo__wrapper {
        width: 80vw;   
    }
    
    .logo__wrapper p {
        font-size: 1.5rem;
    }

    .logo__wrapper p::before {
        border-top: 1.5px solid black;
        top: 1px;
    }

    .logo__wrapper:hover p::before {
        top: 0.5px;
    }

    .aboutMe__img {
        height: 60vw;
        transform: translateX(0px);
    }

    .intro__card {
        width: 100vw;
        max-width: 100%;
        height: 70vh;
    }

    .intro__card:nth-child(even) {
        border-right: none;
    }

    .intro__card:nth-child(odd) {
        border-left: none;
    }
    
    .intro__card__img img {
        left: 50%;
        top: 0%;
        transform: translateX(-50%);
        transition: 1s ease;
    }
    
    .intro__card__img img:hover {
        transform: scale(1.1) translateX(-50%);
        top: 0%;
    }

    .post, .text__box {
        width: 90vw;
    }
      
    .post__img img {
        width: auto;
        position: absolute;
        top: 0px;
        left: 50%;
        transform: translateX(-50%);
    }
    
    #footer__image,
    #map {
        height: 40vh;
        width: 100vw;
        max-width: 100%;
        border: 2px solid black;
        border-left: none;
        border-right: none;
        margin: 10px;
    }

    #footer__image > img {
        width: auto;
        position: absolute;
        top: 0%;
        left: 0px;
        transform: scale(1.3);
    }

    .goToTop {
        width: 35px;
        height: 35px;
    }

}

@media only screen and (max-width: 1023px) and (orientation: portrait) {
    html, body {
        margin: 0px;
        overflow-x: hidden;
    }
    
    .post {
        width: 100vw;
    }
    
    .intro__card__img img {
        height: 100%;
    }

    .post__img {
        width: 100%;
        height: 60vw;
    }
      
    .post__img img {
        height: 100%;
    }
    


}

@media only screen and (max-width: 1023px) and (orientation: landscape) {

    .intro__card__img img {
        width: 100%;
    }
    
    .post__img {
        width: 85%;
        height: 30vw;
    }
      
    .post__img img {
        width: 100%;
    }

    #footer__image,
    #map {
        height: 70vh;
    }
}

/* ==========================================================================
   ANIMACJE
   ========================================================================== */
@keyframes topAnim {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-3px);
    }
}

@keyframes aboutMeWidth {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}